* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

body {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color:rgb(8, 72, 82);
  padding: 50px;
}

.container {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  border-radius: 20px;
  box-shadow: 3px 3px 6px 2px black;
  border: 2px solid black;
  margin-left: 30px;
}

.clock {
  width: 350px;
  height: 350px;
  position: relative;
  border-radius: 50%;
  margin-top: 0;
  box-shadow: 4px 4px 8px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.clock::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  z-index: 1;
}

.clock span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 12px;
  text-align: center;
  color: white;
  font-size: 20px;
}

.clock span b {
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
}

.digital-clock {
  border-radius: 10px;
}

#d_clock {
  width: 210px;
  margin-bottom: 30px;
  box-shadow: 4px 4px 6px 4px black;
  border-radius: 20px;
  padding: 6px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3px;
  font-size: 22px;
  background-color: darkslategrey;
}

.hidden-btn {
  display: none;
}

.h3-digi {
  display: none;
  font-size: 22px;
}

.hidden-h3 {
  display: block;
}

.div-line {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.line {
  position: absolute;
  width: 6px;
  height: 70px;
  background-color: white;
  z-index: 0;
  border-radius: 5px;
}

#line1 {
  transform-origin: bottom;
  height: 60px;
  width: 5px;
  background-color: rgb(79, 1, 79);
}

#line2 {
  transform-origin: bottom;
  height: 80px;
  width: 4px;
  background-color: rgb(190, 123, 7);
}

#line3 {
  transform-origin: bottom;
  height: 100px;
  width: 3px;
  background-color: green;
}

.left-content {
  height: 400px;
  width: 700px;
  padding: 30px 30px;
  box-shadow: 1px 1px 4px 1px white;
  border-radius: 20px;
}

.left-line1 {
  font-size: 50px;
  font-style: italic;
  font-family: "Playwrite AU QLD", cursive;
  color: white;
  text-transform: capitalize;
  text-align: center;
  text-shadow: 1px 1px 2px 5px white;
}

p {
  font-family: "Playwrite MX", cursive;
  font-family: "Playwrite AU QLD", cursive;
  color: black;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.left-line5 {
  text-align: right;
  margin-top: 20px;
  color: white;
}




/*------------------------------------------------------media---------------------------------------------------------------------------------*/


@media only screen and (max-width:1190px){
  .left-content{
    width: 560px;
  }


  .container{
    width: 300px;
    height: 450px;
  }

  .clock{
    width: 300px;
    height: 300px;
  }
}




@media only screen and (max-width:990px){
  .container{
    margin-top: 40px;
    margin-bottom: 40px;
  }

}


@media only screen and (max-width:990px){
  .left-line1 {
    font-size: 30px;
  }

  p{
    font-size: 16px;
  }


  .left-content{
    height:300px;
  }

}



@media only screen and (max-width:480px){
  .left-line1 {
    font-size: 22px;
  }

  p{
    font-size: 14px;
  }

#line1{
   height: 40px;

}

#line2{
  height: 55px;
  
}


#line3{
  height: 70px;
  
}
  



  .container{
   width: 250px;
   height: 400px;
  }

  .clock{
    width: 250px;
   height: 250px;
  }
}




@media only screen and (max-width:420px){
  .left-content{
    display: none;
  }

}